<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Knicx: Crypto Ticker  </title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px|Tajawal" rel="stylesheet">
    <!-- SEO Tag -->
    <meta name="description" content="Knicx is one stop place to find real time price of all the active cryptocurrencies like Bitcoin, Ethereum, Ripple and so on.">
    <meta name="keywords" content="cryptocurrencies, bitcoin, ripple, coin, crypto coin, Ethereum, search, community, crypto talks, API.">
    <meta name="author" content="Rohit Bhatia">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Title icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./images/123.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./images/123.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./images/123.png">
    <!-- Google Adsense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name="google-site-verification" content="NpFKnZ1xKMxfax8dZ6Bc1dZ7FWxU9KFBWQMrQA6vZw4" />
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-2160023780007714",
      enable_page_level_ads: true
    });
  </script>
  <script src="/js/jquery.min.js"></script>
  </head>
