body {
    font-family: 'Slabo 27px', serif;
    font-weight: normal !important;
    color: #8B8989;

}
//Ticker Classes
.tichead {
  background: white !important;
}

.cryptoPr, .cryptoPerc, .CryptoName {
    font-weight: normal !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 15px;
    padding: 30px;
}

.ctclass {
  font-family: 'Tajawal', sans-serif;
  background: #3a7bd5;
  color: white !important;
}

th {
  text-align: left;
}

.l-t {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background: white;
}

//header language div button
.cbnd {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

//header language button
.cbn {
}

.cbnd1 {
}

//nabar font
.if {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}

//header title
.cushl1 {
  background: white;
  color: Black;
  padding: 10px;
  margin-bottom: 20px;
}
.cushs1 {
  background: white;
  color: Black;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 24px;

}
//global data
.global-class {
  padding-top: 10px !important;
  background: #3a7bd5;
  color: white;

}

.headerbackground {
  background: white;
  padding: 6px;
}

//crypto Global
.gmarketcap {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-left: 40px;
}

//form margin
.fm {
  margin-left: 10px;
}
.cus-f-s {
  margin-top: 10px;
  margin-bottom: 15px;
}
.tichead {
  background: white;
}

.lan {
  background-color: white;
  padding-top: 2px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

//icons
.ci {
  margin-left:  15px;
  font-size: 25px;
  width: 25px;
  height: 25px;
  a{
    color: #888888;
  }
}

.cii {
  color: #909090 !important;
  font-size: 25px;
    margin-left:  15px;
    width: 25px;
    height: 25px;
}

.cii:hover {
    color: #3a7bd5;
    text-decoration: none !important;
}
i {
  text-decoration: none;
}
.ci:hover {
  color: #3a7bd5;
}
//connect with us
.c1 {
  margin-left: 5px;
  width: 100px;
}

.ci1 {
  text-decoration: none;
  margin-left: 40px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;

}

.ticsm {
  font-size: 12px;
}

//small screen Table front
.ctable1, .cryptoPr1, .cryptoPerc1, .cryptoName1 {
  font-size: 12px !important;
}

//small screen heading (Crypto prics and so on)
.col0sm {
    font-size: 12px !important;
    color: white !important;

}

.ctclass1 {
  font-size: 12px !important;
  background: #3a7bd5;
  color: white !important;
}

.cus-fm-c {
  width: 110px;
  margin-right: 5px;
}

.cusb1 {

    width: 110px;
}

.marginv {
  margin-top: 10px;
}
.container {
i {
  text-decoration: none !important;
  color: silver;
}
}
